<%- include("header") -%>

<h2>This is the about page</h2>

<p>Welcome to To-do-list website, your ultimate task management solution designed to streamline your life. Our mission is to empower you with the tools you need to conquer your tasks and achieve your goals with ease.</p>

<%- include("footer") -%>
